#home-page .jumbotron {
    background-image: url("./images/jumbotron_img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #FFF;
}